:root {
    --darkblue: #10121c;
    --darkerblue: #0c0d16;
    --white: #f2f0e5;
    --yellow: #f3a833;
    --gray: #f1f1f1;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkerblue);
    color: var(--white);
    font-family: sans-serif;
}

p, a, li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--darkerblue);
}

button {
    width: fit-content;
    cursor: hand;
}

.pending-order-div, .supply-list-outer-div, .login-outer-div, .index-outer-div, .top-bar-nav, .generic-table {
    background-color: var(--gray);
    color: var(--darkerblue);
    border-radius: 20px;
    /* border-color: var(--darkerblue); */
    /* border-width: 0.5px; */
    /* border-style: solid; */
    margin-top: 2px;
    /* margin-bottom: 2px; */
    margin-right: 4px;
    margin-left: 4px;
    padding: 20px;
}

.active {
    font-weight: bold;
}

.top-bar-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.top-bar-nav {
    background-color: var(--yellow);
    padding-top: 12px;
    padding-bottom: 12px;
}

.login-inner-div form, .index-inner-div {
    display: flex;
    flex-direction: column;
}

.login-outer-div, .index-outer-div {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.login-inner-div form button {
    margin-top: 20px;
    align-self: flex-end;
}

.login-page-background, .index-page-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-background {
    background-image: url("../assets/washing-machine.jpg");
    background-position: center;
    background-size: cover;

}

.pending-order-div {
    width: 50%;
    height: 100%;
    margin-right: 0;
}

.supply-list-outer-div {
    width: 50%;
    height: 100%;

}

.supply-quantity-span p {
    display: inline;
    color: var(--yellow);
}

.two-block-div {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.generic-table {
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    /* width: 99%; */
    align-self: center;
}

.order-list-table {
    width: 99%;
}

.customer-list-table {
    min-width: 40%;
}

.generic-btn {
    display: inline-block;
    background-color: var(--yellow);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    margin: 1rem 0;
    border: 0;
}

.generic-cmb {
    padding: 0.3rem .75rem;
}

.generic-txt {
    padding: 0.3rem .75rem;
}

.generic-a {
    color: var(--yellow);
}

.generic-a:hover {
    font-weight: bold;
}

.filter-container {
    margin-bottom: 1rem;
}

.zero-margin {
    margin: 0;
}

.analytics-group-stat-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.analytics-stat-container {
    background-color: var(--white);
    color: var(--darkblue);
    padding: 1rem;
    border-radius: 5px;
}

.analytics-stat-text {
    font-size: 3rem;
    font-weight: bolder;
}

.view-order-header-container {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.view-order-status {
    background-color: var(--white);
    color: var(--darkerblue);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.form-input-container {
    display:flex;
    flex-direction: column;
    max-width: 350px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .5rem;
    padding-bottom: .5rem;
}

.form-row input, .form-row select {
    flex-grow: 1;
}

#wrapper {
    margin: 0 auto;
    max-width: 1400px;
}